doctype html
html(lang='en')
   head
     meta(charset='UTF-8')
     title верификация емейла
   body
     h1 Добрый день #{username}
     p
       | Для верификации емейла перейдите по ссылке
       a(href='#{link}')  #{link}
